/* ==========================
   TABLET (992px)
========================== */

@media (max-width:992px){

.hero{
    flex-direction:column-reverse;
    text-align:center;
    gap:50px;
}

.hero-content p{
    margin:auto;
}

.hero-image img{
    width:300px;
    height:300px;
}

.about-content{
    flex-direction:column;
    text-align:center;
}

.personal-info{
    grid-template-columns:1fr;
}

.input-box{
    flex-direction:column;
}

.input-box input{
    width:100%;
}

}


/* ==========================
   MOBILE (768px)
========================== */

@media (max-width:768px){

.navbar{
    flex-direction:column;
    height:auto;
    padding:20px;
}

.nav-links{
    flex-direction:column;
    gap:15px;
    margin-top:20px;
}

.hero{
    padding:140px 20px 60px;
}

.hero-content h1{
    font-size:40px;
}

.hero-content h2{
    font-size:24px;
}

.hero-content h3{
    font-size:20px;
}

.hero-image img{
    width:250px;
    height:250px;
}

.section-title h2{
    font-size:32px;
}

.about-image img{
    width:250px;
}

.service-container,
.project-container{
    grid-template-columns:1fr;
}

}


/* ==========================
   SMALL MOBILE (480px)
========================== */

@media (max-width:480px){

.hero-content h1{
    font-size:32px;
}

.hero-content p{
    font-size:15px;
}

.btn{
    display:block;
    margin:15px auto;
    width:200px;
}

.logo{
    font-size:24px;
}

.footer-social a{
    font-size:18px;
}

}