@media (max-width:992px){

.hero{

grid-template-columns:1fr;

text-align:center;

}

.project-container{

grid-template-columns:repeat(2,1fr);

}

}
@media (max-width:768px){

header{

flex-direction:column;

padding:20px;

}

nav ul{

flex-direction:column;

gap:15px;

}

.hero{

padding:40px 20px;

}

.hero-text h2{

font-size:32px;

}

.project-container{

grid-template-columns:1fr;

}

}